html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
body {
  background-color: #f6f6f6;
  padding-bottom: 0px;
  padding-top: 80px;
}

header {
  min-height: 80px;
  color: #f6f6f6;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
header h1 {
  margin: 10px 0;
  font-size: 50px;
  line-height: 60px;
  font-weight: 100;
  text-rendering: auto;
}
header menu {
  margin: 20px 0 0;
  padding: 0;
  height: 40px;
}
header menu ul {
  margin: 0;
  padding: 0;
  float: right;
}
header menu li {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
}
header menu li a {
  display: inline-block;
  height: 40px;
  font-size: 17px;
  line-height: 40px;
  color: #f6f6f6;
  vertical-align: bottom;
}

header menu li a li a{
  display: inline-block;
  height: 40px;
  font-size: 12px;
  line-height: 10px;
  color: #f6f6f6;
  vertical-align: bottom;
}

header menu li a:hover {
  text-decoration: none;
}
header menu li a img {
  margin: 0;
  padding: 5px 0;
  vertical-align: bottom;
  width: 30px;
  height: 30px;
}

#subtitle {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
}

a.dl {
  font-weight: 300;
  font-size: 30px;
  line-height: 40px;
  padding: 3px 10px;
  display: inline-block;
  border-radius: 6px;
  color: #f0f0f0;
  margin: 5px 0;
}
a.dl:hover {
  color: #f0f0f0;
  text-decoration: none;
}

.content-nav {
  margin-top: 130px;
  width: 220px;
}
.content-nav.affix {
  top: 0;
}
.content-nav li.active a, .content-nav li.active a:hover {
  background-color: transparent;
  color: #555;
  border-left-width: 2px;
}
.content-nav .secondary a {
  color: #aaa;
}
.content-nav .secondary a:hover {
  color: #888;
}

h1 {
  font-weight: 300;
  font-size: 26px;
  color: #888;
}

h2 {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  padding: 15px 0px;
  margin: 0;
  color: #888;
}

h2 strong {
  font-weight: 300;
}


h3 {
  font-weight: 300;
  color: #888;
  font-size: 22px;
  padding-top: 115px;
  margin-top: 0;
}

h4 {
  font-weight: 400;
  color: #888;
  font-size: 18px;
  padding-top: 20px;
}

h5 {
  font-weight: 500;
  color: #888;
  font-size: 15px;
  padding-top: 20px;
}

h6 {
  font-weight: 600;
  color: #888;
  font-size: 12px;
  padding-top: 20px;
}

p.license {
  font-family: fixed-width;
}

.row .logo {
  text-align: center;
  margin-top: 150px;
}
.row .logo img {
  height: 30px;
}

pre, code {
  color: #666;
}
code {
  border: 0;
  background-color: transparent;
}

.screenshot {
  text-align: center;
}

table {
  border: 1px solid #b1b1b1;
  margin-bottom: 20px;
  text-align: center;
 }
 
section th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  background: #a8a8a8;
  color: #fff;
 }

section td {
  padding: 10px;
  border: 1px solid #b1b1b1;
 }
 
#nav-title {
	font-weight: 400;
  font-size: 32px;
  color: #ffffff;
}

#nav-sub-title {
  color: #ffffff;
}

#introduction {
	 padding-top: 50px;
}

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 640px;
  padding: 20px 10px;
  margin: 0 auto;
}

#footer_wrap {
	margin-top: 50px;
  background: #888;
}

footer p {
	color:#ffffff
}

#uyan-comment {
	margin-top: 50px;
}

#drop-sdk-tools {
	margin-right: 5px;
}

#drop-dev-tools {
	margin-right: 5px;
}

#drop-dev-guides {
	margin-right: 5px;
}

#drop-dev-tutorials {
	margin-right: 5px;
}

#drop-design-tools {
	margin-right: 10px;
}

#jiathis-share-bar {
	margin-top: 30px;
}

.copyright {
	float: left;
	margin-right: 20px;
}

#ts-search-input-li {
	margin-top: 6px;
}

/* Widescreen desktop. */
@media (min-width: 1200px) {
  .content-nav {
    width: 270px;
  }
}

/* Smaller width browser, tablets. */
@media (max-width: 979px) {
  .content-nav {
    width: 166px;
  }
}

/* One-column mobile display. */
@media (max-width: 767px) {
  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 20px;
  }
  header menu {
    display: none;
  }
  #subtitle {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    padding-left: 20px;
  }
  .content-nav {
    display: none;
  }
}