html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
body {
  background-color: #f6f6f6;
  padding-bottom: 0px;
  padding-top: 80px;
}

header {
  min-height: 80px;
  color: #f6f6f6;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
header h1 {
  margin: 10px 0;
  font-size: 50px;
  line-height: 60px;
  font-weight: 100;
  text-rendering: auto;
}
header menu {
  margin: 14px 0 0;
  padding: 0;
  height: 40px;
}
header menu ul {
  margin: 0;
  padding: 0;
  float: right;
}
header menu li {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
}
header menu li a {
  display: inline-block;
  height: 40px;
  font-size: 17px;
  line-height: 40px;
  color: #f6f6f6;
  vertical-align: bottom;
}

header menu li a li a{
  display: inline-block;
  height: 40px;
  font-size: 12px;
  line-height: 10px;
  color: #f6f6f6;
  vertical-align: bottom;
}

header menu li a:hover {
  text-decoration: none;
}
header menu li a img {
  margin: 0;
  padding: 5px 0;
  vertical-align: bottom;
  width: 30px;
  height: 30px;
}

#subtitle {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
}

a.dl {
  font-weight: 300;
  font-size: 30px;
  line-height: 40px;
  padding: 3px 10px;
  display: inline-block;
  border-radius: 6px;
  color: #f0f0f0;
  margin: 5px 0;
}
a.dl:hover {
  color: #f0f0f0;
  text-decoration: none;
}

.content-nav {
  margin-top: 130px;
  width: 220px;
}
.content-nav.affix {
  top: 0;
}
.content-nav li.active a, .content-nav li.active a:hover {
  background-color: transparent;
  color: #555;
  border-left-width: 2px;
}
.content-nav .secondary a {
  color: #aaa;
}
.content-nav .secondary a:hover {
  color: #888;
}

h1 {
  font-weight: 300;
  font-size: 26px;
  color: #888;
}

h2 {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  padding: 15px 0px;
  margin: 0;
  color: #888;
}

h2 strong {
  font-weight: 300;
}


h3 {
  font-weight: 300;
  color: #888;
  font-size: 22px;
  padding-top: 115px;
  margin-top: 0;
}

h4 {
  font-weight: 400;
  color: #888;
  font-size: 18px;
  padding-top: 20px;
}

h5 {
  font-weight: 500;
  color: #888;
  font-size: 15px;
  padding-top: 20px;
}

h6 {
  font-weight: 600;
  color: #888;
  font-size: 12px;
  padding-top: 20px;
}

p.license {
  font-family: fixed-width;
}

.row .logo {
  text-align: center;
  margin-top: 150px;
}
.row .logo img {
  height: 30px;
}

pre, code {
  color: #666;
}
code {
  border: 0;
  background-color: transparent;
}

.screenshot {
  text-align: center;
}

table {
  border: 1px solid #b1b1b1;
  margin-bottom: 20px;
  text-align: center;
 }

section th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  background: #a8a8a8;
  color: #fff;
 }

section td {
  padding: 10px;
  border: 1px solid #b1b1b1;
 }

#nav-title {
	font-weight: 400;
  font-size: 32px;
  color: #ffffff;
}

#nav-sub-title {
  color: #ffffff;
}

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 640px;
  padding: 20px 10px;
  margin: 0 auto;
}

#footer_wrap {
	margin-top: 50px;
  background: #888;
}

footer p {
	color:#ffffff
}

#uyan-comment {
	margin-top: 50px;
}

#drop-sdk-tools {
	margin-right: 5px;
}

#drop-dev-tools {
	margin-right: 5px;
}

#drop-dev-guides {
	margin-right: 5px;
}

#drop-dev-tutorials {
	margin-right: 5px;
}

#drop-design-tools {
	margin-right: 10px;
}

#jiathis-share-bar {
	margin-top: 30px;
  padding-bottom: 30px;
}

footer p {
  text-align: center;
  align: center;
  padding-top: 15px;
  padding-bottom: 10px;
}

.copyright {
	float: left;
  margin-right: 6em;
  margin-left: 6em;
}

.published {
}

#ts-search-input-li {
	margin-top: 7px;
}
.donate-method-title {
  text-align: center;
  padding: 0;
}
.donate-method-qr {
  width: 50%;
  display: block;
  float: left;
}
.donate-method-qr-img {
  width: 370px;
  height: 372px;
  margin-left: 7.3em;
}
.content-title {
  text-align: center;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
}
.home {
  float: left;
  margin-top: 0;
}
.home a{
	display: block;
	padding-bottom: 0;
}

.home a .logo {
	width: 223px;
	height: 86px;
	margin-top: -8px;
}

.clearfix {
    zoom: 1;
}
.gay_friends_list {
  margin-left: 6.5em;
}

.gay_friends_list ul {
  list-style: disc;
  margin-left: 1.3em;
}

.gay_friends_list ul li {
  list-style: none;
  float: left;
  width: 25%;
  text-align: center;
  height: 25%;
  margin-bottom: 5em;
}

.gay_friends_list ul li a {
  display: block;
  width: 130px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  // background-color: white;
}
.gay_friends_list ul li img:hover {
  -moz-box-shadow: -2px 4px 6px -2px rgba( 0, 0, 0, .10 ), 2px 4px 6px 2px rgba( 0, 0, 0, .05 );
  -webkit-box-shadow: -2px 4px 6px -2px rgba( 0, 0, 0, .10 ), 2px 4px 6px 2px rgba( 0, 0, 0, .05 );
  box-shadow: -2px 4px 6px -2px rgba( 0, 0, 0, .10 ), 2px 4px 6px 2px rgba( 0, 0, 0, .05 );
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.gay_friends_list ul li img {
  width: 130px;
  height: 64px;
  background-color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#license strong {
  font-size: 1em;
}
#donate-title {
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
#donate-table {
  margin-left: 7.3em;
}
#comments {
  margin-left: 0em;
}

/* Widescreen desktop. */
@media (min-width: 1200px) {
  .content-nav {
    width: 270px;
  }
  .row {
    margin-left: 0;
    *zoom: 1
  }
  ul.unslider-wrap {
      height: 40em;
  }
}

/* Smaller width browser, tablets. */
@media (max-width: 979px) {
  html, body {
    font-size: 14px;
  }
  body {
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
  }

  h1 {
    font-size: 22px;
  }
  .content-nav {
    width: 166px;
  }
  .span1 {
    display: none;
  }
  .span9 {
    width: 100%;
    margin-left: 0;
  }
  .row {
    margin-left: 0;
  }
  header menu {
    margin-top: 0;
    padding-right: 7%;
  }
  menu .nav navbar-nav {
    margin-right: 3%;
  }
  header menu li a {
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    vertical-align: center;
  }
  header menu li a li a{
    display: inline-block;
    height: 30px;
    font-size: 4px;
    line-height: 8px;
    color: #f6f6f6;
    vertical-align: center;
  }
  header menu li a img {
    padding: 0 0;
    vertical-align: center;
    width: 25px;
    height: 25px;
    margin-bottom: 4px;
  }
  .nav navbar-nav {
    margin-right: 0;
  }
  .content-title {
    margin-top: 3em;
    margin-bottom: 1.2em;
  }
  .home {
    float: none;
    width: 100%;
  }
  .home a .logo {
    width: 100%;
    height: 80px;
    margin-top: 0;
  }
  .gay_friends_list {
      margin-left: 0em;
  }
  .gay_friends_list ul {
    width: 100%;
    height: 100%;
    margin-left: 0;
  }
  .gay_friends_list ul li {
    width: 50%;
    height: 50%;
    margin-bottom: 5em;
  }
  .gay_friends_list ul li a {
    margin-left: 7.5em;
    margin-bottom: 1em;
  }
  .gay_friends_list ul li img {
    width: 92%;
    height: 97%;
  }
  .inner {
    height: 40px;
    padding: 10px 10px;
  }
  footer p {
    font-size: 12px;
    float: left;
    padding: 10px 10px;
    margin-bottom: 0;
  }
  footer p a {
    font-size: 12px;
  }
  .copyright {
    margin-left: 10em;
    margin-right: 0;
  }
  .published {
    margin-left: 20px;
  }
  .donate-method-qr {
    width: 50%;
    height: 50%;
  }
  .donate-method-qr-img {
    width: 250px;
    height: 250px;
    margin-left: 4em;
  }
  #license strong {
    font-size: 1em;
  }
  #donate-title {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }
  #donate-table {
    margin-left: 1em;
    margin-right: 1em;
  }
  #comments {
    margin-left: 0em;
  }
  ul.unslider-wrap {
    height: 30em;
  }
}
@media (max-height: 768px) {
  ul.unslider-wrap {
    height: 30em;
  }
}
/* One-column mobile display. */
@media (max-width: 768px) {
  html, body {
    font-size: 14px;
  }
  body {
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  h1 {
    font-size: 20px;
    text-align: center;
  }
  h2 {
    font-size: 18px;
    margin: 0 0 0 15px;
    padding: 0;
  }
  h2 strong {
    font-weight: 300;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 14px;
    padding: 0 0 0 15px
  }
  h5 {
    font-size: 12px;
    padding-left: 8px;
    padding-top: 12px;
  }
  h6 {
    font-size: 10px;
  }
  p {
    font-size: 12px;
    margin-left: 15px;
    margin-right: 15px;
  }
  p code {
    font-size: 12px;
  }
  ol {
    font-size: 10px;
    margin: 0 25px 6px 25px;
    padding: 0 16px 0 16px;
  }
  ol li p {
    margin-left: 8px;
    margin-bottom: 8px;
  }
  ol ul {
    margin-left: 18px;
  }
  ol ul li {
    font-size: 8px;
  }
  table{
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  table thead th{
    font-size: 12px;
    padding: 0;
  }
  table tbody td{
    font-size: 8px;
    padding: 4px;
  }
  blockquote {
    padding: 0 12px;
  }
  blockquote p {
    font-size: 12px;
  }
  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 0;
  }
  header menu {
    display: none;
  }
  #subtitle {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    padding-left: 20px;
  }
  .content-nav {
    display: none;
  }
  .content-title {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
  }
  .home {
    float: none;
  }
  .home a .logo {
    width: 100%;
    height: 75px;
    margin-top: 0;
  }
  .gay_friends_list {
      margin-left: 0em;
  }
  .gay_friends_list ul {
    width: 100%;
    height: 100%;
    margin-left: 0;
  }
  .gay_friends_list ul li {
    width: 50%;
    height: 50%;
    margin-bottom: 5em;
  }
  .gay_friends_list ul li a {
    margin-left: 7em;
    margin-bottom: 1em;
    width: 100px;
    height: 54px;
  }
  .gay_friends_list ul li img {
    width: 100px;
    height: 54px;
  }
  .inner {
    height: 40px;
    padding: 10px 10px;
  }
  footer p {
    font-size: 12px;
    float: left;
    padding: 10px 10px;
    margin-bottom: 0;
  }
  footer p a {
    font-size: 12px;
  }
  .copyright {
    margin-left: 10em;
    margin-right: 0;
  }
  .published {
    margin-left: 20px;
  }
  .donate-method-qr {
    width: 50%;
    height: 50%;
  }
  .donate-method-qr-img {
    width: 150px;
    height: 150px;
    margin-left: 5.4em;
  }
  #donate-title {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
  }
  #donate-table {
    margin-left: 4em;
    margin-right: 4em;
  }
  #comments {
    margin-left: 1em;
    margin-right: 1em;
  }
  #license strong {
    font-size: 12px;
    margin-left: 12px;
  }
  #jiathis-share-bar {
    margin-left: 12px;
  }
  ul.unslider-wrap {
    height: 30em;
  }
}

@media (max-width: 550px) {
  html, body {
    font-size: 12px;
  }
  body {
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  header {
    padding: 0;
  }
  h1 {
    font-size: 18px;
    text-align: center;
  }
  h2 {
    font-size: 14px;
    margin: 0 0 0 10px;
    padding: 0;
  }
  h2 strong {
    font-weight: 300;
  }
  h3 {
    font-size: 12px;
  }
  h4 {
    font-size: 10px;
    padding: 0 0 0 10px
  }
  h5 {
    font-size: 8px;
    padding-left: 8px;
    padding-top: 12px;
  }
  h6 {
    font-size: 6px;
  }
  p {
    font-size: 8px;
    margin-left: 10px;
    margin-right: 10px;
  }
  p code {
    font-size: 8px;
  }
  ol {
    font-size: 8px;
    margin: 0 20px 6px 20px;
    padding: 0 12px 0 12px;
  }
  ol li p {
    margin-left: 4px;
    margin-bottom: 4px;
  }
  ol ul {
    margin-left: 14px;
  }
  ol ul li {
    font-size: 6px;
  }
  table{
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  table thead th{
    font-size: 9px;
    padding: 0;
  }
  table tbody td{
    font-size: 7px;
    padding: 2px;
  }
  blockquote {
    padding: 0 10px;
  }
  blockquote p {
    font-size: 14px;
  }
  .content-title {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .home {
    width: 100%;
    height: 80%;
    float: none;
  }
  .home a .logo {
    width: 100%;
    height: 80px;
  }
  .gay_friends_list {
    width: 100%;
    margin-left: 0;
  }
  .gay_friends_list ul {
    width: 100%;
    height: 50%;
    margin-left: 0;
  }
  .gay_friends_list ul li {
    width: 50%;
    margin-bottom: 2em;
  }
  .gay_friends_list ul li a {
    width: 64px;
    height: 36px;
    margin-left: 5em;
    margin-bottom: 1.5em;
  }
  .gay_friends_list ul li img {
    width: 64px;
    height: 36px;
  }
  .inner {
    height: 30px;
    padding: 5px 5px;
  }
  footer p {
    font-size: 8px;
    float: left;
    padding: 5px 5px;
    margin-bottom: 0;
  }
  footer p a {
    font-size: 8px;
  }
  .copyright {
    margin-left: 8.4em;
    margin-right: 0;
  }
  .published {
    margin-left: 10px;
  }
  .donate-method-qr-img {
    width: 130px;
    height: 130px;
    margin-left: 15%;
  }
  #donate-title {
    text-align: center;
  }
  #donate-table {
    margin-left: 1em;
    margin-right: 1em;
  }
  #comments {
    margin-left: 1em;
    margin-right: 1em;
  }
  #license strong {
    font-size: 8px;
    margin-left: 10px;
  }
  #jiathis-share-bar {
    margin-left: 1em;
  }
  #ad_right_float {
    display: none;
  }
  ul.unslider-wrap {
    height: 12em;
  }
}

@media (max-width: 320px) {
  body {
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 10px;
  }
  h1 {
    font-size: 16px;
    text-align: center;
  }
  h2 {
    font-size: 12px;
  }
  h2 strong {
    font-weight: 300;
  }
  h3 {
    font-size: 10px;
  }
  h4 {
    font-size: 8px;
    padding-left: 8px
  }
  h5 {
    font-size: 7px;
    padding-left: 8px;
    padding-top: 12px;
  }
  h6 {
    font-size: 6px;
  }
  p {
    font-size: 6px;
    margin-left: 10px;
  }
  p code {
    font-size: 6px;
  }
  ol {
    font-size: 6px;
    margin: 0 15px 4px 15px;
    padding: 0 10px 0 10px;
  }
  ol li p {
    margin-left: 2px;
    margin-bottom: 2px;
  }
  ol ul {
    margin-left: 12px;
  }
  ol ul li {
    font-size: 4px;
  }
  table{
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-weight: 100;
  }
  table thead th{
    font-size: 6px;
    padding: 0;
  }
  table tbody td{
    font-size: 6px;
    padding: 0;
  }
  blockquote {
    padding: 0 6px;
  }
  blockquote p {
    font-size: 6px;
  }
  .gay_friends_list {
    width: 100%;
    margin-left: 0;
  }
  .gay_friends_list ul {
    width: 100%;
    height: 50%;
    margin-left: 0;
  }
  .gay_friends_list ul li {
    width: 50%;
    height: 50%;
    margin-bottom: 1em;
  }
  .gay_friends_list ul li a {
    width: 60px;
    height: 32px;
    margin-left: 27.4%;
    margin-bottom: 1em;
  }

  .gay_friends_list ul li img {
    width: 60px;
    height: 32px;
  }
  .inner {
    height: 30px;
    padding: 5px 5px;
  }
  footer p {
    font-size: 8px;
    float: left;
    padding: 5px 5px;
    margin-bottom: 0;
  }
  footer p a {
    font-size: 8px;
  }
  .copyright {
    margin-top: 5px;
    margin-left: 6em;
    margin-right: 0;
  }
  .published {
    margin-top: 5px;
    margin-left: 10px;
  }
  .donate-method-qr-img {
    width: 36%;
    height: 36%;
    margin-left: 32%;
  }
  #donate-title {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
  #donate-table {
    margin-left: 0.8em;
    margin-right: 0.8em;
  }
  #comments {
    margin-left: 0.8em;
    margin-right: 0.8em
  }
  #license strong {
    font-size: 6px;
    margin-left: 10px;
  }
  #jiathis-share-bar {
    margin-left: 1em;
  }
  #ad_right_float {
    display: none;
  }
  ul.unslider-wrap {
    height: 10em;
  }
}